.product_Listing_Page {
    padding: 45px;
}

.product_Listing_Page .productListing {
    gap: 20px;
}

.product_Listing_Page .productListing .sidebar {
    width: 20%;
    flex: 0 0 20%;
}

.product_Listing_Page .productListing .sidebar .sticky {
    position: sticky;
    top: 50px;
}

.product_Listing_Page .productListing .sidebar .filterBox {
    margin-bottom: 35px;
}

.product_Listing_Page .productListing .sidebar .filterBox h6 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.product_Listing_Page .productListing .sidebar .scroll {
    padding: 10px;
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product_Listing_Page .productListing .sidebar .scroll::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.product_Listing_Page .productListing .sidebar .scroll ul {
    margin-bottom: 0px;
}

.product_Listing_Page .productListing .sidebar .scroll ul li {
    list-style: none;
    margin-bottom: 0px;
    width: 100%;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    padding: 2px !important;
}

.css-ahj2mt-MuiTypography-root {
    font-size: 14px !important;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #7a55c1 !important;
}

.range-slider {
    height: 5px !important;
}

.range-slider__thumb,
.range-slider .range-slider__range {
    background: #7a55c1 !important;
}

.range-slider .range-slider__thumb {
    width: 15px !important;
    height: 15px !important;
}


.product_Listing_Page .productListing .content_Right {
    width: 78%;
    flex: 0 0 78%;
    padding: 0px 35px;
}


.product_Listing_Page .productListing .content_Right .showBy {
    width: 100%;
    height: auto;
    background-color: #f1f3ff;
    padding: 15px 25px;
    border-radius: 5px;
}

.product_Listing_Page .productListing .content_Right .showBy .btnWrapper button {
    min-width: 35px !important;
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    color: #000;
}

.product_Listing_Page .productListing .content_Right .showBy .btnWrapper button svg {
    color: #000;
    font-size: 18px;
    opacity: 0.3;
}

.product_Listing_Page .productListing .content_Right .showBy .btnWrapper button.act svg {
    opacity: 1 !important;
}

.product_Listing_Page .productListing .content_Right .showBy .btnWrapper button:hover svg {
    opacity: 1 !important;
}

.showByFilter button {
    min-width: auto !important;
    color: #000;
}

.showByFilter button .act .showByFilter button svg {
    color: #000;
    opacity: 0.6;
    margin-left: 5px;
}

.showPerPageDropDown .MuiPaper-root {
    width: 80px !important;
}

.productListing {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.productListing .productItem.four {
    width: 23%;
}

.productListing .productItem.three {
    width: 31.6%;
}

.productListing .productItem.two {
    width: 48.5%;
}

.productListing .productItem.one {
    width: 98%;
    display: flex;
    align-items: center;
}

.productListing .productItem .action {
    z-index: 0;
}

.productListing .productItem.one .imgWrapper {
    width: 25%;
}