.homeBannerSection {
    position: relative;
    cursor: pointer;
}

.homeBannerSection .swiper {
    overflow: inherit !important;
}

.homeBannerSection .swiper .item {
    overflow: hidden !important;
    border-radius: 10px;
}

.homeBannerSection * {
    outline: none;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}

.swiper-button-next {
    right: 35px;
}

.swiper-button-prev {
    left: 35px;
}

.swiper-button-next:before,
.swiper-button-prev:before {
    font-size: 15px;
    /* Adjust icon size if necessary */
    font-weight: bold;
    content: '';
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 12px !important;
    border-radius: 100% !important;
    font-weight: 700;
}