.section {
    padding: 45px 0px;
}

.text-light {
    color: #8b8b8b !important;
}

.productDetails .hd {
    font-size: 26px;
}

.productDetails .oldPrice {
    font-size: 20px !important;
}

.productDetails .netPrice {
    font-size: 22px !important;
}


/* product size */
.productSize {
    width: 100%;
    height: auto;
    padding: 25px 0px;
}

.productSize ul li {
    margin-right: 10px !important;
}

.productSize ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
    cursor: pointer;
    text-decoration: none !important;
    color: #000;
    font-size: 14px !important;
    transition: all 0.1s ease-in-out;
}

.productSize ul li a.active {
    background: #7a55c1 !important;
    color: #fff !important;
}


.productDetails .btn-circle {
    border-radius: 50% !important;
    min-width: 40px !important;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    background: #edeef5;
    padding: 5px !important;
}

.productDetails .btn-circle svg {
    color: #000;
    opacity: 0.8;
    font-size: 20px;
}

.productDetails .btn-circle:hover {
    background: #7a55c1 !important;
}

.productDetails .btn-circle svg:hover {
    color: #fff;
}


/* products detailspage reviews */

.detailsPageTabs {
    border-radius: 25px !important;
    background: #fafafa;
}

.customTabs ul li {
    margin-right: 10px !important;
}

.customTabs ul li button {
    padding: 6px 25px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    border-radius: 30px !important;
    color: #000 !important;
}

.customTabs ul li button.active {
    background: #7a55c1 !important;
    color: #fff !important;
}

.reviewsCard {
    margin-bottom: 25px !important;
}

.reviewsCard .image {
    width: 100px;
}

.reviewsCard .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.reviewsCard .rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewsCard .info {
    width: 85%;
}

.detailsPageTabs .table th,
.detailsPageTabs .table td {
    vertical-align: middle;
    font-size: 14px;
}

.detailsPageTabs .table td p {
    margin-bottom: 0px;
}

.reviewForm h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}


.reviewForm .form-group {
    margin-bottom: 25px;
}

.reviewForm .form-group .form-control {
    height: 50px;
    font-size: 16px;
    border-radius: 7px !important;
    padding-left: 20px;
    outline: none !important;
}

.reviewForm .form-group textarea.form-control {
    height: 200px;
    padding-top: 25px;
}

.progressBarBox {
    margin-bottom: 10px;
}

.progress-bar {
    font-size: 16px;
}

.reviewsCard .info p {
    font-size: 13px;
    line-height: 22px;
}